@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-left">
        <h1>Welcome To Discribe Web</h1>
        <p>You can record  your user profile, check for past meeting minutes, schedule meeting here.</p>
        <p>
            <ul>
                <li><a href="">Register Voice Profile</a></li>
                <li><a href="">Search for Past Minutes</a></li>
            </ul>
        </p>
    </div>
