@model DiScribe.WebMVC.Models.MeetingClass

@{
    ViewData["Title"] = "Create";
}

<h5>Schedule Meeting</h5>
<hr />
<div class="row">
    <p><b>Note: When schedule here from DiscribeWeb, we currently only support Pacific time zone. However if you schedule from outlook different timezones are supported:</b></p>
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MeetingSubject" class="control-label"></label>
                <input asp-for="MeetingSubject" class="form-control" />
                <span asp-validation-for="MeetingSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingStartDateTime" class="control-label"></label>
                <input asp-for="MeetingStartDateTime" class="form-control" />
                <span asp-validation-for="MeetingStartDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingEndDateTime" class="control-label"></label>
                <input asp-for="MeetingEndDateTime" class="form-control" />
                <span asp-validation-for="MeetingEndDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Please enter Meeting Delegate Host Name, <b>only one allowed</b></label>
                <textarea id="HostName" rows="1" cols="100" asp-for="HostName"></textarea>
                <span asp-validation-for="HostName" class="text-danger"></span>
                <label>Please enter Meeting Delegate Host Email, <b>only one allowed</b></label>
                <textarea id="HostEmail" rows="1" cols="100" asp-for="HostEmail"></textarea>
                <span asp-validation-for="HostEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Please enter participant names below, separated by commas. <b>Please donot include host name.</b></label>
                <textarea id="ParticiNames" rows="1" cols="100" asp-for="ParticiNames"></textarea>
                <span asp-validation-for="ParticiNames" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Please enter participant email addresses below, separated by commas. <b>Please donot include host email.</b></label>
                <textarea id="Participants" rows="3" cols="100" asp-for="Participants"></textarea>
                <span asp-validation-for="Participants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div><b>@ViewBag.message</b></div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
